import React from 'react';

interface {{pascalCase name}}Props {
  // Define here props of this Component
}

function {{pascalCase name}}(props: {{pascalCase name}}Props): React.ReactNode {
  const {
    // someProps
  } = props;

  return (
    <main className="">
      <h1>{{pascalCase name}} Page Created!</h1>
    </main>
  );
}

export default {{pascalCase name}};
